* {
	margin: 0;
	padding: 0;
	box-sizing: border-box
}

html {
	height: 100%;
	font-family: 'Roboto', sans-serif;
	line-height: 35px; 
}

body {
	height: 100%;	
	background-color: rgb(29, 30, 34);
	margin: 0 auto;
	background:  linear-gradient(
      rgba(29, 30, 34, 0.95),
      rgba(29, 30, 34, 0.6)
    ), url(images/bgimage.jpg);
	background-position: center;
	background-size: cover;	
}

.navbar-menu {
	display: none;
}

navbar {
	width: 100%;
	position: fixed;
	z-index: 110;
	background-color: #0B0C10;
	border-bottom: .1px solid #C5C6C7;
	display: flex;
	justify-content: center;
	align-items: center;
}

.inner-nav {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	padding: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.home-icon {
	text-decoration: none;
	color: white;
	font-weight: bolder;
	background-color: rgb(29, 30, 34);
	padding: 10px;
	border-radius: 100%;
	border: 2px solid #C5C6C7	
}

.home-icon:hover {
	color: #848FA5;
	cursor: pointer
}

.hamburger {
	cursor: pointer;
}

.hamburger div {
	width: 35px;
	height: 5px;
	background-color: white	;
	margin: 5px
}

.menu {
	padding-top: 79px;
	height: 100%;
	font-size: 32px;
	display: none;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.navbar-list li div:hover {
	color: #848FA5;
	font-weight: 700;
}

.navbar-socials li i:hover {
	color: #848FA5;
	font-weight: 700;
	transform: scale(1.1);

}

.menu-home, .about, .projects, .contact{
	background-color: #0B0C10;
	width: 100%;
	text-align: center;
	height: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #C5C6C7;
	cursor: pointer;
	font-size: 3rem;
	color: white
}
.menu-home:hover, .about:hover, .projects:hover, .contact:hover{
	background-color: #1F2833;
}

.contact {
	display: flex;
	flex-direction: column;
}

.socials {
	width: 100%;
	height: 15%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.socials-ul {
	width: 90%;
	display: flex;
	list-style: none;
	font-size: 20px;
	justify-content: space-between;
	align-items: center;
	padding-top: 20px;
}

.socials-ul li a {
	text-decoration: none;
	margin: 0 15px;
	color: white;
}

.socials-ul li a i {
	transform: scale(1.5)
}
.socials-ul li a i:hover {
	color: #848FA5
}

.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.hero-header header{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.profile-pic-wrapper {
	display: flex; 
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
}

.profile {
	border-radius: 40%;
	width: 40%;
}

.hero-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

main {
	padding-top: 120px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 90%;
	color: white;
	overflow: auto;
	min-height: 100%;
	max-width: 600px;
}

main > div {
	padding: 0;
	margin: 0 ;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;	
	padding-bottom: 50px;
}

main > div:first-child{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0
}

main h1 {
	font-size: 50px;
	font-weight: 500;
	margin-bottom: 20px;
}

main img {
	width: 100%;
	max-width: 800px;
	margin: 10px 5px;
	border: 1px solid black;
}

main h1, h2, h3, h4, h5 {
	font-weight: normal;
}

main h2 {
	font-size: 30px;
	color: #C5C6C7;
}

main h3 {
	font-size: 22px;
	margin-bottom: 20px
}

main h4 {
	font-size: 20px;
	margin-bottom: 20px
}

main h5 {
	font-size: 18px;
	margin-bottom: 20px
}


.cta-btns button{
	padding: 15px;
	width: 130px;
	font-size: 18px;
	font-weight: 500;
	background-color: white;
	color: rgb(29, 30, 34);
	cursor: pointer;
	border: 2px solid rgb(29, 30, 34);
	margin-top: 20px;
}

.cta-btns button:hover {
	background:  linear-gradient(
      rgba(29, 30, 34, 0.9),
      rgba(29, 30, 34, 0.6)
    ), url(images/motherboard.jpg);
	color: white;
	border: 2px solid white
}

.tech-stack {
	font-size: 18px;
	width: 100%;
	height: 330px;
	background-color: white;
	display: flex;
	flex-direction: column;
	color: black;
}

.tech-stack header {
	font-size: 50px;
	margin: 40px 10px
}

.tech-stack ul {
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	height: 100px;
}

.tech-stack ul li {
	margin: 0 5px
}

.tech-stack ul li i {
	color: black;
	margin: 0 30px;
	transform: scale(5)
}

.projects-page {
	width: 100%;
	padding: 0;
	padding-bottom: 50px;
}

.projects-page > header {
	width: 100%;
	margin-bottom: 20px
}

.project {
	margin-bottom: 30px;
	border-bottom: 2px solid white;
}

.project1 {
	font-size: 20px;
	width: 100%;	
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: flex-start;
}

.quiz-app-ss {
	width: 50%
}

.thumbnail-wrapper {
	width: 100%;
	margin-top: 20px;
}

.project1 img {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	min-width: 200px;
}

.technologies {
	width: 100%;
	color: black;
	display: flex;
	justify-content: center;
	align-items: center;
}

.tech-icons {
	width: 100%;
	display: flex;
	list-style: none;
	align-items: center;
	justify-content: space-between;
}

.tech-icons li {
	margin: 5px;
}

.tech-icons li img {
	width: 50px;
	vertical-align: middle;
	border: none;
}

.links {
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
	
}

.links button {
	padding: 15px;
	width: 100%;
	font-size: 18px;
	background-color: white;
	color: #1F2833;
	cursor: pointer;
	border: 2px solid black;
	margin: 5px 0;
	font-weight: 500
}

.links button:hover {
	background:  linear-gradient(
      rgba(29, 30, 34, 0.9),
      rgba(29, 30, 34, 0.6)
    ), url(images/motherboard.jpg);
	color: white;
	border: 2px solid white
}

.project1 {
	margin-bottom: 20px;
}

.project1 a {
	color: white;
	text-decoration: none;
}

.description {
	width: 100%;
	font-size: 18px;
	margin-top: 20px;
}


.cto-btns {
	width: 100%;
	cursor: pointer;
	margin: 0
}

.gh-repo-btn {
	padding: 10px;
	width: 150px;
	font-size: 20px;
	cursor: pointer;	
	text-align: left
}

.contact-pg {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
}

.contact-socials {
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
}

.contact-socials header {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start
}

.contact-socials-ul {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start
}

.contact-socials-ul li {
	list-style: none;
}

.contact-socials-ul li a {
	text-decoration: none;
}

.contact-socials-ul li a i {
	color: white;
	font-size: 30px;
	margin: 10px 0;
}

.contact-text {
	font-size: 18px;
	margin-left: 10px;
	color: white;
}

footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	color: white;
	font-size: 18px;
	height: 50px;
	position: relative;
	margin-top: -50px;
	clear: both;
	padding: 0 10px;
	background-color: #0B0C10;
	border-top: .1px solid #C5C6C7
}

.footer-links {
	display: flex;
	list-style: none;
}

.footer-links li a i {
	color: white;
	margin: 0 10px;
}

.footer-links li a i:hover {
	color: #848FA5
}

@media (min-width: 768px){
	
	navbar {
		display: flex;
		justify-content: center;
	}
	
	.inner-nav {
		padding-left: 0;
		padding-right: 0
	}
	
	.inner-nav header {
		width: 33%;
		display: flex;
		justify-content: center;
		align-items: center;
	}
	
	.hamburger {
		display: none;
	}
	
	.navbar-menu {
		width: 75%;
		display:flex;
		justify-content: center;
		font-size: 20px;
	}
	
	.navbar-menu a {
		text-decoration: none;
		color: white;
	}
	
	.navbar-list {
		width: 50%;
		display: flex;
		justify-content: center;
	}
	
	.navbar-list li {
		list-style: none;
		margin: 0 15px;
	}
	
	.navbar-list li div {
		color: white;
		cursor: pointer;
		font-weight: 700;
	}		
	
	

	.navbar-list li div:hover {
		transform: scale(1.1);
	}	
	
		
	.navbar-socials {
		width: 50%;
		display: flex;
		justify-content: center;
 	}
	
	.navbar-socials li {
		list-style: none;
		margin: 0 15px;

	}
	
	main { 
		padding-bottom: 50px;
	}
	
	main h1 {
		font-size: 55px
	}
	
	.home {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%;
	}

	.hero {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		width: 100%
	}
	
	.hero-header {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
	}

	.hero-header header{
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;

	}

	.hero-header header h1 {
		margin-left: 20px
	}

	.profile-pic-wrapper {
		width: 250px;
		margin-bottom: 20px;
	}

	.profile {
		border-radius: 50%;
		width: 100%;
	}

	.hero-text {
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: flex-start;
		text-align: left;
	}
	
	.cta-btns {
		margin-top: 20px;
	}
	
	.projects-page {
		padding-bottom: 0
	}
	
	.projects-page > header {
		width: 100%
	}
	
	main > div:first-child{
		margin-bottom: 20px;
	}
	
	.project1 {
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start
	}
	
	.project1 img:hover {
		border: 2px solid white;
	}
	
	.left-side {
		width: 45%;
	}
	
	.right-side {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 50%;
	}
	
	.thumbnail-wrapper {
		margin: 0;
		width: 100%
	}
	
	.right-side img {
		width: 100%
	}
	
	.contact-socials-ul li a i {
		color: white;
		font-size: 50px;
		margin: 10px 0;
	}

	.contact-text {
		font-size: 18px;
		margin-left: 10px;
		color: white;
	}
	.contact-text {
		font-size: 25px
	}
}